nav{
    background-color: white;
    height: 75px;
}
.div-header{
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-links{
    display: flex;
    flex-direction: row;
}
.div-link{
    align-items: center;
    padding: 0 25px;
    
}
